*{
    text-decoration:none;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width:100vw;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.73), rgba(0,0,0,0.73)), url(../imagenes/background.jpg);
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.titulo{
    color:white;
    padding:50px;
    font-family: 'Bebas Neue', cursive;
    padding-bottom:100px;
    font-size:70px;
}

h3{
    padding:15px;
    font-family: 'Bebas Neue', cursive;
}

.opciones{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    font-size:45px;
    list-style: none;
    grid-gap:0px;
}

.item1, .item2, .item3,.item4, .item5, .item6, .item7, .item8 {
    padding:35px;
    text-align: center;
    border: white;
    font-family: 'Bebas Neue', cursive;
}

.item1, .item2, .item3{
    border-bottom:5px solid white;
    border-right:5px solid white;
}

.item4{
    border-bottom:5px solid white;
}

.item5, .item6, .item7{
    border-right: 5px solid white;
    text-decoration: none;
    color:white;
}

.opciones li:hover{
    background:white;
    color:black;
}

.item7 a:hover{
    color:black;
}


.modalservicios, .modalrs, .modalbio{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-contenido {
    background-color:white;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius:30px;
  }

  

  .closebio, .closers, .closeservicios {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closers:hover,
.closers:focus,
.closeservicios:focus,
.closeservicios:hover,
.closebio:hover,
.closebio:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.linea{
    background:black;
    height:3px;
    width:100%;
}

.redes li,
.servicios li{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    padding:15px;
    text-align: center;
}


.redes, .servicios {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    list-style:none;
    grid-gap:20px;
    padding:20px;
    align-items:center;
}

.redes{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.textobio{
    padding:25px;
    margin:10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size:15px;
}

.item7 a{
    text-decoration: none;
    color: white
}

.item7 a:hover{
    color:black;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {

    .contenedor{
        width:100vw;
        height:170vh;
    }

.titulo{
    font-size:25px;
    padding:10px;
    padding-bottom:10px;
}

.opciones{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    color:white;
    font-size:20px;
    list-style: none;
    grid-gap:0px;
}

.item1, .item2, .item3,.item4, .item5, .item6, .item7, .item8 {
    padding:5px;
    text-align: center;
    border: white;
    font-family: 'Bebas Neue', cursive;
}

.item1, .item2, .item3{
    border-bottom:2px solid white;
}

.item4{
    border-bottom:2px solid white;
}

.item5, .item6, .item7{
    border-bottom: 2px solid white;
}

form{
    background:white;
    padding:10px;
    width:60%;
    margin-top:8px;
    margin-left:5px;
    margin-bottom:8px;
    display:none;
    border-radius:8px;
    box-shadow: 2px 2px 2px grey;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}

::-webkit-input-placeholder{
    font-size:12px;
    padding:2px;
}

#nombre, #apellido, #correo{
    font-size:12px;
    height:15px;
    padding:5px;
}

#comentario{
    font-size:12px;
    height:50px;
    padding:5px;
}

.botones{
    font-size:12px;
    padding:2px;
}

.modal-contenido {
    padding: 10px;
    width: 80%; 
  }

.servicios li{
    font-size:15px;
    padding:7px;
}

.redes li{
    font-size:20px;
}


.redes, .servicios {
    grid-gap:2px;
    padding:5px;
}

.textobio{
    padding:5px;
    margin:3px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size:10px;
}


  }